<main class="container-fluid">
    <div class="row">
        <div class="col-md-12 banner">
        </div>
    </div>

    <div class="row chamada">
        <div class="col-md-12 text-center d-flex justify-content-center flex-column align-items-center">
            <h1 class="mt-2">Tudo o que você precisa saber para começar em Angular!</h1>
            <div class="red_line mt-2"></div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-3 d-flex justify-content-center flex-column align-items-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                alt="" class="img-fluid">
        </div>
        <div class="col-md-3">
            <h3 class="text-center">O que é Angular?</h3>
            <p class="justified">
                O Angular é um poderoso framework que utiliza HTML e TypeScript para criar a interface com o usuário, ou
                seja, o front-end em aplicações web, desktop e dispositivos móveis. A primeira versão foi lançada em
                2010 com o nome Angular JS, mas foi completamente reescrita e em 2016 passou a ser chamada Angular 2.
                Desde então, passou por diversas mudanças importantes em seu código fonte e atualmente está na versão
                12.2.0-rc.0, lançada em julho de 2021.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-center flex-column align-items-center">
            <h1 class="mt-2">Vantagens:</h1>
            <div class="red_line mt-2"></div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-4 p-5">
            <h2 class="text-center">Teste Unitário</h2>
            <p class="justified">
                é simples, pois toda a estrutura é desacoplada e as dependências são injetadas, o que facilita a criação
                de fakes, stubs, spies e mocks, melhorando  –  e muito – todo o processo de teste de controladores,
                serviços e diretivas, todos conceitos bastante utilizados pelo framework.
            </p>
        </div>
        <div class="col-md-4 p-5">
            <h2 class="text-center">Produtividade</h2>
            <p class="justified">
                desenvolver uma aplicação com ele requer bem menos código, sendo inclusive intuitivo e dando suporte
                para a modularização.
            </p>
        </div>
        <div class="col-md-4 p-5">
            <h2 class="text-center">Framework Completo</h2>
            <p class="justified">
                o framework, é extremamente robusto, ou seja, quase tudo que é preciso para uma aplicação se encontra
                nele nativamente. Como por exemplo rotas e api HttpClient (protocolo para conexões ajax como o fetch e o
                axios).
            </p>
        </div>
    </div>

</main>